.App-header {
  background-color: #282c34;
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-header > a {
  color: white;
  text-decoration: none;
}

.App-content {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ChartLink {
  width: 200px;
  border: 1px solid #282c34;
  padding: 10px;
  margin: 20px;
}

.ChartLink > img {
  max-width: 100%;
  height: auto;
}
